<div id="sect1" class="container-fluid text-center d-flex flex-column justify-content-center align-items-center vh-100">
     <h1 class="c2" style="font-size: 90px;">
         <span class="text-wrapper">
         <span class="line line1"></span>
           <span class="letters">RUHIRU MITHURU </span>
         </span>
       </h1>
       <br>
       <h3  style="font-size: 50px; color: rgb(56, 3, 1); font-family: monospace;" >
         <span class="text-wrapper">
         <span class="line line1"></span>
           <span class="letters">Empowering you to save lives</span>
         </span>
       </h3>
       
       <p style="text-align: center; color: rgb(119, 7, 7);font-family: monospace;">
         <span class="text-wrapper">
             <span class="line line1"></span>
               <span class="letters" style="font-size: 30px;">track urgent blood needs, 
                    organize campaigns with ease, and inspire donations effortlessly. 
               </span>
             </span>
       </p>
 
    
       <div style="text-align: center; margin-top: 20px;">
         
         <button type="button" class="btn btn-secondary">
           <a href="../../assets/Rajani_Navoda_Resume.pdf" download="Rajani_Navoda_resume.pdf" class="download-link">
             <i class="fas fa-download"></i> Register Now!
           </a>          
          </button>
       </div>
 </div>
  <app-home2></app-home2>
  
  <app-contact-us></app-contact-us>



